* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login {
    margin: 20px auto;
    border: 2px solid green;
    width: 600px;
    height: 600px;
    background-image: linear-gradient(red, rgb(15, 66, 133), rgb(166, 27, 221));;
}
.nama, .email, .pass {
   
    margin: 30px 0;   
}
.nama input, .email input, .pass input {
    margin-left: 30px;
}
.sub input{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}