* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    width: 100%;
    height: 60px;
    background-color: rgb(255, 191, 95);
    
}
.header h1 {
    float: left;
    margin-top: 8px;
    margin-left: 40px;
    font-size: 40px;
}
.header ul {
    float: right;
    list-style: none;
    clear: right;
}
.header ul li {
    display: inline-block;
   text-decoration: none;
   clear: right;
   margin-top: 15px;
   
   padding: 5px;
   margin-right: 30px;
}
.header ul li a {
    text-decoration: none;
    color:black;
    clear: both; 
    padding: 4px;
    transition: all .2s ease-in;   
}
.header ul li a:hover {
    background-color: lightblue;
    color:  rgb(40, 0, 185);   
}
.content {
    background-image: url(img/zoo.jpg);
    background-size: cover;
    height: 500px;
    text-align: center;
    line-height: 500px;
    background-position-y: -200px;
}

.content h2 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px;
    transition: all .2s ease-in-out;
}
.content h2 a:hover {
    background-color: lightblue;
    color: rgb(40, 0, 185);
    font-size: 25px;   
}
.about h3 {
    text-align: center;
    color: blue;
    font-size: 22px;
    margin-top: 20px;
}
.hbout .penulis {
    text-align: center;
    font-size: 13px;
    color: blue;
    margin-top: 20px;
    margin-bottom: 40px;
}
.event {
    margin: 80px 0;
    text-align: center;
}
.event h3 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.galerybook {
    border: 2px solid rgb(255, 255, 255);
    margin-bottom: 700px;
}
.galery {
    float: left;
    border: 2px solid blue;
    text-align: center;
    margin: 0 52px;
    width: 400px;
    height: 500px;
    padding-top: 30px
}
.galery img {
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
    transition: 1s;
}
.galery img:hover {
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
}
.foto h4 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    border: 2px solid blue;
    padding: 5px;
    width: 150px;
    margin-left: 120px;
}
.foto button {
    padding: 5px;
    margin-top: 50px;
    transition: all .2s ease-in;
    cursor: pointer;
}
.foto button:hover {
    background-color: blue;

}
.foto button a {
    text-decoration: none;
}
.foto button a::after{
    text-decoration: none;
}
.jjs {
    text-align: center;
    font-size: 70px;
    margin-top: -40px;
    font-family: 'Roboto', sans-serif;
}
.imgcontent img {
    float: left;
    width: 550px;
    height: 550px;
    background-size: cover;
    margin: 30px;
}
.imgcontent {
    margin-top: 50px;
    border: 2px solid rgb(255, 255, 255);
    height: 700px;
}
.c h3 {
    font-size: 70px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.c .lor {
    font-size: 40px;
    font-family: 'Roboto' , sans-serif;
    margin-top: 50px;
    margin-bottom: 30px;
}
.c p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.itadori img {
    float: right;
    width: 550px;
    height: 550px;
    background-size: cover;
    margin: 30px;
}
.itadori {
    margin-top: 50px;
    border: 2px solid rgb(255, 255, 255);
    height: 700px;
   
    margin-top: -25px;
}
.c h3 {
    font-size: 70px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.c .lor {
    font-size: 40px;
    font-family: 'Roboto' , sans-serif;
    margin-top: 50px;
    margin-bottom: 30px;
}
.c p {
    font-size: 20px;
    
}
.c .lord {
    margin-bottom: 20px;
    font-family: 'Roboto' , sans-serif;
    font-size: 25px;
}
.gojo img {
    float: left;
    width: 550px;
    height: 550px;
    background-size: cover;
    margin: 30px;
}
.gojo {
    margin-top: 50px;
    border: 2px solid rgb(255, 255, 255);
    height: 700px;
   
    margin-top: -25px;
}
.c h3 {
    font-size: 70px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.c {
    margin-left: 20px;
}
.footer {
    background-color: rgb(20, 19, 19);
    height: 100px;
   position: relative;
}
.srv, .log, .hel {
    float: left;
    margin-left: 350px;
    margin-top: 20px;
}
.srv a, .log a, .hel a {
    color: white;
    text-decoration: none;  
}
.srv a:hover, .log a:hover, .hel a:hover {
    background-color: rgb(19, 0, 61);
    padding: 5px;  
}
footer h6 {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 680px;
    color: white;
}